/* Add your custom extension styling here */

.cdt-text { font-size: 1.2em; }

/*
.cdt-icon { margin-right: 0.6em; font-size: 0.1em; }
*/

.notifyIcon {
    background-image: url("img/ip.svg");
    background-size: 20px;
    height: 20px;
    width: 20px;
}